@charset "UTF-8";
.addPlan{
	width: 1020px;
}
.addPlan_1{
	margin-top:10px;
	width:1020px;
	height:10%;
	margin-left: 80px;
	border: 1px solid black;
	background-color: #8DA9C4;
}
.addPlan_1_1{
	width: 200px;
	height: 50px;
	display: inline-block;
	background-color: #8DA9C4;
	margin-left: 7%;
	margin-top: 25px;
}
.addPlan0{
	width:200px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	background-color: white;
	border-radius: 7px;
}
.addPlan_1_2{
	width: 200px;
	height: 50px;
	margin-left: 5%;
	display: inline-block;
	background-color: #8DA9C4;
	font-size: 18px;
	text-align: center;
}
.addPlan_2{
	width:1020px;
	margin-left: 40px;
	background-color: white;
}
.addPlan_2_1{
	width: 100%;
	height: 80px;
	background-color: #DEE6EF;
	margin-top: 1%;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.addPlan_2_1:hover{
	background-color: #B0DAEC;
	color : #134074;
}
.addPlan_2_1_1{
	width: 100%;
	height: 50%;
	border-radius: 3px;
}
.addPlan_2_1_2{
	width: 100%;
	height: 50%;
	border-radius:3px;
}
.addPlan_2_1_1_1{
	width: 40%;
	height: 100%;
	border-radius: 3px;
	display: inline-block;
	font-size: 12pt;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 1%;
}
.addPlan_2_1_1_2{
	width: 40%;
	height: 100%;
	border-radius: 3px;
	display: inline-block;
	font-size: 11pt;
	text-align: right;
	margin-left: 10%;
}
.addPlan_2_1_2_1{
	width: 40%;
	height: 100%;
	border-radius: 3px;
	display: inline-block;
	font-size: 11pt;
	margin-left: 5%;
	margin-top: 1%;
}
.addPlan_2_1_2_2{
	width: 40%;
	height: 100%;
	border-radius: 3px;
	display: inline-block;
	font-size: 11pt;
	text-align: right;
	margin-left: 10%;
}


#popup {
   display: inline-block;
   width: 600px;
   height: 300px;
   position: absolute;
   top: calc(50% - 150px);
   left: calc(50% - 300px);
   background-color: #FFFFFF;
   z-index: 200;
   text-align: center;
   vertical-align: middle;
}
#popupTop {
   display: inline-block;
   width: 560px;
   font-size: 20px;
   background-color: #134074;
   height: 10%;
   padding: 10px;
   padding-left: 30px;
   text-align: left;
   font-weight: bold;
   color: white;
   font-size: 20px;
}
#popupTop img {
   margin-left: 460px;
   color:white;
}

#popupMiddle {
   text-align: left;
   padding-left: 70px;
   padding-bottom: 10px;
}

#popupBottom {
   overflow-y: auto;
   max-height:140px;
   padding-top: 15px;
   height: 100%;
}

#popupBottomBlock {
   display: inline-block;
   width: 450px;
   height: 50px;
   padding-left: 15px;
   border: 1px solid #444444;
   margin-bottom: 10px;
}
#popupBottomBlock:hover {
	background-color : #B0DAEC;
	color :#134074;
	}

#popCompany {
	margin-top:1%;
   width: 100px;
   height: 20px;
   font-size: 11pt;
}
#cname {
   width: 50px; 
   height : 20px;
   font-size: 11pt;
   height: 20px;
}
#popTxt {
   height: 30px;
   width: 180px;
   padding-left: 10px;
   vertical-align: bottom;
}
#popTxt3 {
   height: 30px;
   width: 380px;
   padding-left: 10px;
   vertical-align: bottom;
}
#popTxt2 {
   height: 30px;
   width: 180px;
   margin-left: 5%;
   padding-left: 10px;
   vertical-align: bottom;
}

#popSearch {
   margin-top: 10px;
   margin-left: 10px;
   vertical-align: bottom;
}
#bg {
   display: inline-block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: #000000;
   opacity: 0.7;
   z-index: 100;
}
#selectB{
	width: 194px;
	height: 36px;
	margin-top: -10px;
}
.search {
   height: 250px;
   width: 1020px;
   min-height: 250px;
   margin-left: 40px;
   margin-bottom: 20px;
   background-color:  #8DA9C4;
   border-radius: 3px;
   text-align: center;
}
.txtt {
   padding-left: 10px;
   margin-top: 30px;
   width: 300px;
   height: 30px;
}
.txtt_1 {
   padding-left: 10px;
   margin-top: 30px;
   width: 300px;
   height: 30px;
   margin-left: 70px;
}

.txtt2 {
   padding-left: 10px;
   margin-top: 30px;
   width: 300px;
   margin-left: 30px;
   height: 30px;
}
.txtt2_2 {
   padding-left: 10px;
   margin-top: 30px;
   margin-left: 50px;
   width: 300px;
   height: 30px;
}

.txtt3 {
   padding-left: 10px;
   margin-top: 30px;
   margin-left: 70px;
   width: 270px;
   height: 30px;
}
#write {
   width: 40px;
   height: 40px;
   margin-left: 1000px;
   margin-top: 10px;
}

#searchBtn {
   width: 38px;
   height: 38px;
   margin-left: 10px;
   vertical-align: bottom;
   text-align: right;
   vertical-align: bottom;
}
.select2 {
   padding-left: 10px;
   margin-top: 30px;
   margin-left: 15px;
   width: 314px;
   height: 36px;
}
.listNum {
   margin-left: 470px;
   height: 70px;
   font-size: 16px;
   left: 50%;
   vertical-align: middle;
}
.listNum_1 {
   text-align: center;
   display: inline-block;
   margin-top: 30px;
   width: 30px;
   height: 30px;
   border: 2px solid #134074;
   border-radius: 2px;
   background-color: #FFFFFF;
}
.content_title2 {
	height: 55px;
	margin-left: 1000px;
}
#penc{
	width: 40px;
	height: 40px;
}

.calmok2 {
	width: 1200px;
	height: 600px;
	margin-top: 1%;
}

.cal {
	width: 480px;
	height: 95%;
	display: inline-block;
	border-radius: 3px;
	border : 1px solid #ccc;
	margin-top: 20px;
	vertical-align: top;
}

.mok {
	width: 400px;
	height: 600px;
	display: inline-block;
	background-color: white;
	vertical-align: top;
}

.rcal {
	width: 100%;
	height: 92%;
	vertical-align: top;
}

.bumju {
	width: 100%;
	background-color: white;
}

.bumju1 {
	margin-left:10%;
	width: 20%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.bumju1_1 {
	width: 30%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

.bumju1_2 {
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	margin-top: 8%;

}

.bumju2 {
	width: 20%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	
	
}

.bumju2_1 {
	width: 30%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	
}

.bumju2_2 {
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	margin-top: 8%;
	
}

.bumju3 {
	width: 20%;
	height: 100%;
	display: inline-block;
	
}

.bumju3_1 {
	width: 30%;
	height: 100%;
	display: inline-block;
}

.bumju3_2 {
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	margin-top: 8%;
}

.bumju4 {
	width: 20%;
	height: 100%;
	display: inline-block;
}

.bumju4_1 {
	width: 30%;
	height: 100%;
	display: inline-block;
}

.bumju4_2 {
	width: 70%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	margin-top: 8%;
}

.mok2 {
	width: 90%;
	height: 90%;
	background-color: white;
	margin-left: 5%;
	margin-top: 6%;
	border-radius: 3px;
		border : 1px solid #ccc;
		border-collapse:collapse;
}

.mok2_1 {
	width: 100%;
	height: 12%;
	background-color: #DEE6EF;
	border-radius: 3px;
		border : 1px solid #ccc;
		border-collapse:collapse;
	margin-left: -2px;
	margin-top: -2px;
}

.mok2_2 {
	width: 100%;
	height: 88%;
	background-color: white;
	border-radius: 3px;
		border : 1px solid #ccc;
		border-collapse:collapse;
	margin-left: -2px;
	margin-top: -2px;
}

.mokT {
	width: 100%;
	height: 100%;
	text-align: center;
}

.mokT2 {
	width: 100%;
	height: 100%;
	text-align: center;
}

.mokT2_1 {
	width: 10%;
	text-align: center;
}

.mokT2_2 {
	width: 60%;
	font-size: 20pt;
	text-align: left;
	font-weight: bold;
}

.mokT2_3 {
	width: 10%;
}

.mokT_1 {
	width: 10%;
	text-align: center;
}

.mokT_2 {
	width: 25%;
	font-size: 11pt;
	text-align: center;
}

.mokT_3 {
	width: 65%;
	font-size: 11pt;
	text-align: left;
}

#redBtn {
	width: 30px;
	height: 30px;
	margin-top: 25%;
}

#blueBtn {
	width: 30px;
	height: 30px;
	margin-top: 25%;
}

#greenBtn {
	width: 30px;
	height: 30px;
	margin-top: 25%;
}

#yellowBtn {
	width: 30px;
	height: 30px;
	margin-top: 25%;
}

#red2 {
	width: 20px;
	height: 20px;
}

#green2 {
	width: 20px;
	height: 20px;
}

#blue2 {
	width: 20px;
	height: 20px;
}

#yellow2 {
	width: 20px;
	height: 20px;
}

.moktc {
	background-color: #FAFAFA;
}

#cal {
	margin-top: 5px;
}

#pen {
	margin-top: 5px;
}
.titlep{
	margin-left: 760px;
}

#upName {
	font-size: 18px;
	color: #505050;
	font-weight: bold;
	margin-top: 20px;
}
#content{
	height:150px;
}
#content>input[type=text]{
	height: 80px;
	width: 700px;
}
#content>input[type=button]{
	margin-left:40px;
	height: 70px;
	width: 100px;
	background-color: #3498DB;
	color: white;
}
.titlep_2{
	display: inline-block;
}
.titlep_3{
	width: 60px;
	height: 100px;
	position: absolute;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
	text-align: center;
}
.titlep_3_1{
	margin-top : 8px;
	width: 100%;
	height: 50%;
	font-size: 16px;
}
.titlep_4{
	width: 60px;
	height: 50px;
	position: absolute;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
	text-align: center;
}
.titlep_4_1{
	margin-top : 10px;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
.x{
	display: inline-block;
}
.titlep4{
	width: auto;
	margin-left: 820px;
}

#upName {
   font-size: 14pt;
   color: #505050;
   font-weight: bold;
}

#plusImg {
   width: 40px;
   height: 40px;
   margin-top: 10px;
   margin-left: 750px;
}.pluscustom {
   height: 100px;
   margin-top: 20px;
   margin-bottom: 40px;
}

.pluscustom table {
   text-align: center;
}

.pluscustom table #pluscrmTop {
   background-color: #DEE6EF;
}#pluscrmMiddle {
   font-size: 11pt;
   font-weight: normal;
}

#total1 {
	display: inline-block;
	margin-left: 870px;
	font-size: 17px;
}

#total2 {
	display: inline-block;
	font-size: 17px;
}


.status {
	height: 30px;
	margin-left: 70px;
	font-size: 15px;
}