@charset "UTF-8";
.paging_group {
width: 1000px;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}

.paging_group > div {
   display: inline-block;
   width: 30px;
   height: 30px;
   border: 1px solid #134074;
   border-radius:2px;
   font-size: 14pt;
   font-weight: bold;
   background-color: #FFFFFF;
   margin-left: 10px;
}

.paging_group > div:hover {
   cursor: pointer;
    background-color: #134074;
   color: #FFFFFF;
} 

.paging_group > .paging_on {
   background-color: #134074;
   color: #FFFFFF;
}

.paging_group > .paging_off {
   background-color: #FFFFFF;
   color: #134074;
}
.content_area > .content_area_table_area{
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 3px;
    width: 1100px;
    height: 450px;
    /* background-color: #DEE6EF; */
    text-align: center;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    /* padding-left: 80px; */
}
#forBtnRight{
	width:1000px;
	text-align: right;
}

/* 
#table_va{
	background-color : white;
	position:relative;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size : 20px;
	color: #134074;
	width : 1000px;
}

#table_va{
	position:relative;
	width : 800px;
	margin-top: 20px;
	margin-left: 100px;
	margin-bottom: 50px;
	font-size : 16px;
	color: #134074;
}
 .fontBlack td{
	font-size : 14px;
	font-weight: normal;
	color : black;
} 

#table_va #table_color{
	background-color: #8DA9C4;
} */

#table_va{
    background-color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12pt;
    height: 25px;
    color: #FFFFFF;
    width: 1010px;
    border: 0px;
}

#table_va #table_color{
	background-color: #134074;
}
#table_va td {
	font-size : 11pt;
	color : black;
    border: 0px;
    height: 25px;
}
#table_va th {
	height : 30px;
	border : 0px;
}
.A{
	background-color : #FFFFFF;
	color : black;
}

.B{
	background-color : #DEE6EF;
	color : black;
}
.A:hover{
	background-color: #B0DAEC;
	color: #134074;
	cursor: pointer;
}
.B:hover{
	background-color: #B0DAEC;
	color: #134074;
	cursor: pointer;
}
input[type="button"]{
    /* background-color: #134074; */
    /* border-radius: 3px; */
    /* border: 1px solid #8DA9C4; */
    cursor: pointer;
    /* font-weight: bold; */
    /* color: white; */
    /* width: 60px; */
}

