@charset "UTF-8";
/* 
	DarkBlue : rgb(19, 64, 116), #134074
	SteelBlue : rgb(70, 130, 180), #4682b4
	DeepLightBlue : rgb(141, 169, 196), #8DA9C4
	LightBlue : rgb(222,230,239), #DEE6EF
	LightSkyBlue : rgb(176,218,236), #B0DAEC
	White : rgb(255,255,255), #FFFFFF
 */
 
table {
	border-collapse: collapse;
}

thead tr {
	border-top: 1px solid #8C8C8C;
	border-bottom: 1px solid #8C8C8C;
	background-color: #134074;
	color: #FFFFFF;
	font-size: 12pt;
}

tbody tr {
	border-bottom: 1px solid #8C8C8C;
	background-color: #FFF; /**/
	color: #000;
	cursor: pointer;
	font-size: 11pt;
	text-align: center;
	height : 51px;
}

tbody tr:hover {
	background-color: #B0DAEC;
	color: #134074;
}

table td, table th {
	padding: 10px 5px;
}

.name, .job, .age, .io, .skill, .year, .count, .available, .light {
	text-align: center;
}

.light {
	width: 30px;
	height: 30px;
}

#plus {
    display: inline-block;
    width: 30px;
    height: 33px;
    background-image: url("../../../../resources/images/erp/as/hs/plus.png");
    background-position: 50% 50%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
}

.sec_tr {
	background-color: #DEE6EF;
}

#attFile1 {
	display: none;
}

#finish {
 	width: 150px;
 	height: 200px;
 }
 
 #finish img {
	 width: 100%;
 	height: 100%;
 }
 
/* .content_title>.content_title_text {
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	text-indent: 10px;
	color: #134074;
} */

.table_area {
	margin-top: 20px;
	margin-left: 40px;
}

.opt_line {
	display: inline-block;
	margin-top: 20px;
	margin-left: 40px;
	position: relative;
	width: 888px;
	height: 35px;
	padding: 10px 30px;
	border: 1px solid #CCC;
	border-radius: 3px;
	background-color: #8DA9C4;
}

.opt_line>.left_side {
	display: inline-block;
	position: absolute;
}

.opt_line>.left_side>.txt_line {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 20px;
	margin: 6px 10px;
}

.opt_line>.left_side>.search {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	height: 30px;
	background-color: #134074;
	color: #FFFFFF;
	margin: 3px 10px;
}

.opt_line>.left_side>.sel {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 25px;
	margin: 6px 10px;
}

.opt_line>.right_side {
	display: inline-block;
	position: absolute;
	right: 30px;
}

.opt_line>.right_side>.Btn {
	display: inline-block;
	vertical-align: top;
	margin: 3px 10px;
	cursor: pointer;
	height: 30px;
	background-color: #134074;
	color: #FFFFFF;
}

#light {
	width: 30px;
	height: 30px;
}

/* 팝업 */

.popup_mid  .input_area {
	display: inline-block;
	position: relative;
	width: 810px;
	height: 450px;
	padding: 10px;
}

.popup_mid  .input_area > .input_area_ex {
	display: inline-block;
	font-size: 11pt;
	text-align: right;
	color: #000000;
	width: 100%;
	vertical-align: top;
	float: right;
}

.popup_mid  .input_area > .input_area_left {
	margin-top: 30px;
	width: 50%;
	height: 40px;
	float: left;
}

.popup_mid  .input_area > .input_area_right {
	margin-top: 30px;
	width: 50%;
	height: 40px;
	float: right;
}

.popup_mid  .input_area > .input_area_picture {
	margin-top: 30px;
	width: 50%;
	height: 200px;
	float: right;	
}

.popup_mid  .input_area .input_area_txt1 {
	display: inline-block;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	text-align: center;
	vertical-align: top;
	width: 130px;
}

.popup_mid  .input_area .input_area_txt2 {
	display: inline-block;
	width: 200px;
	height: 50px;
	vertical-align: top;
}

.popup_mid  .input_area .input_area_txt2 > input {
	width: calc(100% - 20px);
	height: calc(100% - 40px);
	padding: 10px;
	background-color: #DEE6EF;
	vertical-align: center;
	font-size: 12pt;
	outline: 0px;
}

.popup_mid  .input_area .input_area_txt3 {
	display: inline-block;
	width: 350px;
	height: 50px;
	vertical-align: top;
}

.popup_mid  .input_area .input_area_txt3 > input {
	width: calc(100% - 35px);
	height: calc(100% - 40px);
	padding: 10px;
	background-color: #DEE6EF;
	vertical-align: center;
	font-size: 12pt;
	outline: 0px;
}

.input_area_txt3 > select {
	width: 184px;
	height: 34px;
	background-color: #DEE6EF;
	vertical-align: center;
	font-size: 12pt;
	outline: 0px;
}

.popup_mid  .input_area .input_area_txt5 {
	display: inline-block;
	width: 120px;
	height: 50px;
	vertical-align: top;
}

.popup_mid  .input_area .input_area_txt5 > input {
	width: calc(100% - 20px);
	height: calc(100% - 40px);
	padding: 10px;
	background-color: #DEE6EF;
	vertical-align: center;
	font-size: 12pt;
	outline: 0px;
}

.popup_mid  .input_area .input_area_pic {
	display : inline-block;
	vertical-align: top;
	width: 150px;
	height: 200px;
	background-color: #DEE6EF;	
}

.btn {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 5px 0px;
	margin-bottom: 10px;	
}

.btn > input {
	width: 75px;
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 3px;
	background-color: #134074;
	color: #FFFFFF;
	cursor: pointer;	
}

.popup_mid  .input_area .input_area_button {
	display: inline-block;
	vertical-align: top;
	width: 125px;
	height: 200px;
}

.popup_mid > .input_area > .input_area_bottom {
	width: 100%;
	height: 40px;
	float: right;
	text-align: right;
}

/* 이중 팝업 */

.popup_mid  .input_area3 {
	display: inline-block;
	position: relative;
	width: 360px;
	height: 230px;
	padding: 10px;
}

.popup_mid  .input_area3 > .input_area_line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    float: left;
}

.popup_mid  .input_area3 .input_area_txt1 {
	display: inline-block;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	text-align: center;
	vertical-align: top;
	width: 130px;
}

.popup_mid  .input_area3 .input_area_txt3 {
	display: inline-block;
	width: 200px;
	height: 50px;
	vertical-align: top;
}

.popup_mid  .input_area3 .input_area_txt3 > input {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	padding: 10px;
	background-color: #DEE6EF;
	vertical-align: center;
	font-size: 12pt;
	outline: 0px;
}


/* 상세보기 팝업 */

.popup_mid  .input_area2 {
	display: inline-block;
	position: relative;
	width: 560px;
	height: 500px;
	padding: 10px;
}	

.popup_mid .input_area2 .input_area_txt {
    display: inline-block;
    width: 380px;
    height: 20px;
    vertical-align: top;
    margin: 7px;
}

.popup_mid .input_area2 .input_area_txt > input {
    width: calc(100% - 140px);
    height: calc(100% - 40px);
    padding: 10px;
    background-color: #DEE6EF;
    vertical-align: center;
    font-size: 11pt;
    outline: 0px;
}

.popup_mid .input_area2 .input_area_txt2 {
    display: inline-block;
    width: 150px;
    height: 20px;
    vertical-align: top;
    margin: 5px;
}

.popup_mid  .input_area2 .input_area_txt3 {
	display: inline-block;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	width: 80px;
}

.popup_mid .input_area2 .input_area_txt2 > input {
    width: calc(100% - 72px);
    height: calc(100% - 40px);
    padding: 10px;
    background-color: #DEE6EF;
    vertical-align: center;
    font-size: 11pt;
    outline: 0px;
}



.popup_mid  .input_area2 > .input_area_profile1 {
	display : inline-block;
	vertical-align: top;
	width: 150px;
	height: 330px;
	margin-right: 10px;	
}

.popup_mid  .input_area2 .io {
	height: 30px;
	border-radius: 30px;
	margin: 3px;
	background-color: #8DA9C4;
	color: #FFFFFF;
	text-align: center;
	font-size: 15pt;
	font-weight: bold;
}

/* .popup_mid  .input_area2 .profile {
	height : 80px;
	color: #000000;
	text-align: center;
} */

.popup_mid  .input_area2 > .input_area_profile2 {
	display : inline-block;
	vertical-align: top;
	width: 380px;
	height: 330px;
	float: right;	
}

.popup_mid  .input_area2 .input_area_pic {
	display : inline-block;
	vertical-align: top;
	width: 150px;
	height: 200px;
	background-size: 150px 200px;
	background-repeat: no-reaeat;
	background-color: #134074;
	margin-right: 10px;	
}

.input_area_pic > img {
	width: 150px;
	height: 200px;
}

.popup_mid  .input_area2 .license_1_2 {
	width: 30px;
	border-radius: 10px;
	background-color: #8DA9C4;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	float: right;
	cursor: pointer;
}

.table_area2 {
	width: 100%;
	height: 35%;
}

#table_2 {
	border-collapse: collapse;
	font-size: 10pt;
	text-align: center;
}

#table_2_wrap {
	width: 100%;
	height: 117px;
	overflow-y: auto;
}

#table_upper {
	border-top: 1px solid #8C8C8C;
	border-bottom: 1px solid #8C8C8C;
	background-color: #134074;
	color: #FFFFFF;
}

#table_content {
	border-bottom: 1px solid #8C8C8C;
	background-color: #F6F6F6; /**/
	cursor: pointer;
	font-size: 10pt;
	/* overflow-y: auto; */
}

/* 페이징 부분 */

#pagingArea {
	width : 1000px;
	margin: 10px 0px;
	height: 40px;
	text-align: center;
}

#pagingArea > [type="button"] {
   display: inline-block;
   width: 30px;
   height: 30px;
   border: 1px solid #134074;
   border-radius:2px;
   font-size: 14pt;
   font-weight: bold;
   background-color: #FFFFFF;
   margin-left: 10px;
   color: #134074;
}

#pagingArea > [type="button"]:hover {
   cursor: pointer;
   background-color: #134074;
    color: #FFFFFF;
} 

#pagingArea .paging_on {
   background-color: #134074;
   color: #FFFFFF;
}

#pagingArea .paging_off {
   background-color: #FFFFFF;
   color: #134074;
}
