@charset "UTF-8";
/* 
	DarkBlue : rgb(19, 64, 116), #134074
	DeepLightBlue : rgb(141, 169, 196), #8DA9C4
	LightBlue : rgb(222,230,239), #DEE6EF
	White : rgb(255,255,255), #FFFFFF
 */
body {
	margin: 0;
	font-family: Dotum, Godic;
}
.login_wrap {
	display: inline-block;
	width: 400px;
	height: 400px;
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	font-size: 0pt;
}

.login_logo {
	height: 100px;
	text-align: center;
	font-size: 45pt;
	font-weight: bold;
	color: #134074;
	font-family: Godic;
}
.login_form_wrap {
	height: 220px;
	padding: 40px;
	background-color: #134074;
	border-radius: 3px;
}
.login_input_area {
	height: 60px;
	background-color: #DEE6EF;
	margin-bottom: 10px;
	border-radius: 3px;
	overflow: hidden;
}

.login_input_img_user {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url("../../../../resources/images/erp/common/user.png");
	background-position: 50% 50%;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	vertical-align: top;
}

.login_input_img_password {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-image: url("../../../../resources/images/erp/common/password.png");
	background-position: 50% 50%;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	vertical-align: top;
}

.login_input_txt {
	display: inline-block;
	width: 260px;
	height: 60px;
	vertical-align: top;
}

.login_input_txt > input {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	border: 0px;
	padding: 10px;
	background-color: #FFFFFF;
	color: #134074;
	vertical-align: center;
	font-size: 16pt;
	outline: 0px;
}

.login_btn_area {
	margin-top: 30px;
	height: 60px;
}

.login_btn_area > input {
	width: 320px;
	height: 50px;
	font-size: 13pt;
	font-weight: bold;
	margin: 5px 0px;
	color: #134074;
}