@charset "UTF-8";
/* 
	DarkBlue : rgb(19, 64, 116), #134074
	SteelBlue : rgb(70, 130, 180), #4682b4
	DeepLightBlue : rgb(141, 169, 196), #8DA9C4
	LightBlue : rgb(222,230,239), #DEE6EF
	LightSkyBlue : rgb(176,218,236), #B0DAEC
	White : rgb(255,255,255), #FFFFFF
 */
html {
	width: 100%;
	height: 100%;
}

body {
	min-width: 1440px;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Godic;
	font-size: 0px;
}

.top_area {
	min-width: 1440px;
	height: 70px;
	background-color: #134074;
	background-image: url("../../../images/erp/common/logo.png");
	background-position: 10px 15px;
	background-size: 45px;
	background-repeat: no-repeat;
	box-shadow: 1px 1px 3px #000;
	text-shadow: 1px 1px 2px #AAA;
}

.top_logo_area{
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 70px;
	margin-left: 60px;
	margin-right: 20px;
	cursor: pointer;
}

.top_logo_area > div {
	display: table;
	width: 150px;
	height: 70px;
}

.top_logo_area > div > div {
	display: table-cell;
	width: 100%;
	height: 100%;
	font-size: 30pt;
	font-weight: bold;
	vertical-align: middle;
	color: #FFFFFF;
}

.large_menu_area{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 670px);
	height: 70px;
}

.large_menu_area > .large_menu {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 70px;
	cursor: pointer;
}
.large_menu_area > .large_menu > div > div:hover {
	background-color: #8DA9C4;
	color: #134074;
}

.large_menu_area > .large_menu > div {
	display: table;
	width: 150px;
	height: 70px;
}

.large_menu_area > .large_menu > div > div {
	display: table-cell;
	width: 100%;
	height: 100%;
	font-size: 15pt;
	font-weight: bold;
	vertical-align: middle;
	color: #FFFFFF;
	text-align: center;
}

.large_menu_area > .large_menu_on {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 70px;
	cursor: pointer;
}

.large_menu_area > .large_menu_on > div {
	display: table;
	width: 150px;
	height: 70px;
}

.large_menu_area > .large_menu_on > div > div {
	display: table-cell;
	width: 100%;
	height: 100%;
	font-size: 15pt;
	font-weight: bold;
	vertical-align: middle;
	background-color: #8DA9C4;
	color: #134074;
	text-align: center;
}

.top_profile_area {
	display: inline-block;
	vertical-align: top;
	/* width: 240px; *//* 채팅 노티 숨김으로 인한 사이즈변경 */
	width: 290px;
	height: 50px;
	padding: 10px 0px;
	text-align: right;
}

.top_profile_area > .top_profile_img {
	display: inline-block;
	width: 40px;
	height: 50px;
	vertical-align: top;
	margin-right: 10px;
}

.top_profile_area > .top_profile_img > img {
	width: 40px;
	height: 50px;
}

.top_profile_area > .top_profile_txt {
	display: inline-block;
	min-width: 120px;
    max-width: 180px;
	height: 50px;
	vertical-align: top;
    text-align: left;
}

.top_profile_area > .top_profile_txt > div {
	height: 25px;
	color: #FFFFFF;
	font-size: 13pt;
}

.top_btn_area {
	display: inline-block;
	vertical-align: top;
	/* width: 180px; *//* 노티, 챗 버튼 숨김으로 인한 사이즈변경 */
	width: 130px;
	height: 50px;
	padding: 10px;
}

.top_btn_area > .top_btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 5px;
	vertical-align: top;
	position: relative;
	cursor: pointer;
}

.top_btn_area > .top_btn > .top_btn_noti {
	display: inline-block;
	width: 30px;
	height: 22px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: red;
	color: #FFFFFF;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
	padding: 4px 0px;
	z-index: 100;
}

.top_btn_area img {
	width: 50px;
	height: 50px;
}
/* 
	Left Area
 */

.left_area {
	display: inline-block;
	width: 230px;
	height: calc(100% - 70px);
	background-color: #8DA9C4;
	vertical-align: top;
	box-shadow: 1px 1px 3px #000;
	font-weight: bold;
	/* text-shadow: 1px 1px 2px #AAA; */
}

.left_area > .left_large_menu {
	height: 34px;
	padding: 14px 10px;
	background-image: linear-gradient(#4682b4, #134074);
	font-size: 18pt;
	color: #FFFFFF;
}

.left_area > .left_large_menu > img {
	width: 28px;
	height: 28px;
	vertical-align: sub;
	margin-right: 5px;
}

.left_menu_wrap {
	cursor: pointer;
}

.left_menu_wrap > .left_sub_menu > .left_sub_menu_txt {
	height: 24px;
	padding: 12px 0px;
	font-size: 12pt;
	color: #FFFFFF;
	text-indent: 20px;
	background-image: url("../../../images/erp/common/plus.png");
	background-position: 202px 14px;
	background-size: 18px;
	background-repeat: no-repeat;
}

.left_menu_wrap > .left_sub_menu > .left_sub_menu_txt:hover {
	background-color: #134074;
}

/* 세메뉴가 없는 단일메뉴 */
.left_menu_wrap > .left_sub_menu_single > .left_sub_menu_txt {
	height: 24px;
	padding: 12px 0px;
	font-size: 12pt;
	color: #FFFFFF;
	text-indent: 20px;
}

.left_menu_wrap > .left_sub_menu_single > .left_sub_menu_txt:hover {
	background-color: #134074;
}

/* 세메뉴가 없는 단일메뉴 오픈형태 */
.left_menu_wrap > .left_sub_menu_single_on > .left_sub_menu_txt {
	height: 24px;
	padding: 12px 0px;
	font-size: 12pt;
	color: #FFFFFF;
	text-indent: 20px;
	background-color: #134074;
}

/* 좌측메뉴 오픈형태 */
.left_menu_wrap > .left_sub_menu_on > .left_sub_menu_txt {
	height: 24px;
	padding: 12px 0px;
	font-size: 12pt;
	color: #FFFFFF;
	text-indent: 20px;
	background-image: url("../../../images/erp/common/minus.png");
	background-position: 202px 14px;
	background-size: 18px;
	background-repeat: no-repeat;
	background-color: #134074;
}

/* 좌측 소메뉴 */
.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap > .left_sub_detail_menu {
	color: #134074;
	background-color: #DEE6EF;
}

.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap > .left_sub_detail_menu_on {
	color: #FFFFFF;
    background-color: #4682b4;
}

.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap > .left_sub_detail_menu:hover {
	color: #FFFFFF;
	background-color: #4682b4;
}

.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap .left_sub_detail_menu_txt {
	padding: 8px 0px;
	height: 22px;
	font-size: 12pt;
	text-indent: 30px;
}

.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap > .left_sub_detail_menu_on > .left_sub_detail_sub_menu_wrap > div {
	padding: 8px 0px;
	height: 18px;
	font-size: 10pt;
	text-indent: 40px;
}

.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap > .left_sub_detail_menu_on > .left_sub_detail_sub_menu_wrap > .left_sub_detail_sub_menu_txt {
	color: #134074;
	background-color: #FFFFFF;
}

.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap > .left_sub_detail_menu_on > .left_sub_detail_sub_menu_wrap > .left_sub_detail_sub_menu_txt_on {
	color: #134074;
	background-color: #B0DAEC;
}


.left_menu_wrap > .left_sub_menu_on > .left_sub_detail_menu_wrap > .left_sub_detail_menu_on > .left_sub_detail_sub_menu_wrap > .left_sub_detail_sub_menu_txt:hover {
	color: #134074;
	background-color: #B0DAEC;
}

/* 
	Content Area
 */
.content_area {
	display: inline-block;
	min-width: 1210px;
	width: calc(100% - 230px);
	/* height: calc(100% - 70px); */ /* SlimScroll 사용으로 인한 변경 */
	height: 100%;
	vertical-align: top;
	overflow-y: hidden;
	white-space: normal!important;
}

.content_nav {
	width: 100%;
	font-size: 20px;
	padding: 10px 0px;
	text-indent: 48px;
	color: #134074;
	background-image: url("../../../images/erp/common/home.png");
	background-size: 22px;
	background-position: 20px 15px;
	background-repeat: no-repeat;
}

.content_title {
	width: 100%;
	font-size: 20pt;
	font-weight: bold;
	padding: 10px 0px;
	text-indent: 72px;
	color: #134074;
	background-image: url("../../../images/erp/common/docu_db.png");
	background-size: 28px;
	background-position: 40px 12px;
	background-repeat: no-repeat;
}

/* 
	Content SlimScroll Area
 */
body > .slimScrollDiv {
	display: inline-block;
	height: calc(100% - 90px) !important;
	width: calc(100% - 230px) !important;
	min-width: 1210px !important;
	margin: 10px 0px;
}