@charset "UTF-8";
/* 
	DarkBlue : rgb(19, 64, 116), #134074
	SteelBlue : rgb(70, 130, 180), #4682b4
	DeepLightBlue : rgb(141, 169, 196), #8DA9C4
	LightBlue : rgb(222,230,239), #DEE6EF
	LightSkyBlue : rgb(176,218,236), #B0DAEC
	White : rgb(255,255,255), #FFFFFF
 */



/*신청 결과------------------ */

 .jms{
   	 margin-top: 20px;
    padding-top: 10PX;
    margin-left: 40px;
    width: 900PX;
    height: 430px;
    background-color: #8DA9C4;
}	 
 
.jmstable{
	
	margin-top: 20px;
	margin-left: 40px;
	width: 800px;	
	
	
}

.jmstitle{
	margin-left: 20px;
	background-color: #134074;
	font-size: 17px;
	color: #fff;
	height: 50px;
	text-align:center;
	
}	
	
.jmscnt{
	cursor: pointer;
	background-color: #ffffff;
	font-size: 15px;
	height: 50px;
	color: #000000;
	margin-left: 20px;
	text-align:center;
}	
	
.jmscnts:{
	cursor: pointer;
	background-color: #ffffff;
	font-size: 17px;
	height: 50px; 
	color: #000000;
	margin-left: 20px;
	text-align:center;
}	



/* 경력증명서 인쇄 페이지 */
.jmsa{
   	margin-top: 25px;
   	padding-top: 30px;
   	margin-left: 40px;
   	width: 1000px;
   	height: 955px;
  	background-color: #DEE6EF;
  	
}	 
 
.jmspoptable{
	
	/* margin-top: 0px; */
	margin-left: 50px;
	width: 800px;	
	height: 100px;
	table-layout: fixed;
	
}
.jmspoptable2{
	width: 200px;	
	height: 60px;
	margin-left: 650px;
}	
	
.jmspopcnt{
	 
	font-size: 17px;
	 
	color: #000000;
	 
	text-align:center;
}	

.popup{
   width: 900px;
   height: 880px;
   background-color: #fff; /* rgba(0,0,0,0.1); */
   margin: 50px;
   border: 1px solid gray;
   
}
  
.popuptitle{
	width: 900px;
	height: 45px;
	font-size: 50px;
	text-align: center;
		margin-top: 30px;
}
.poptxt{
	width: 90px;
	font-size: 20px;
	text-align: right;
	margin-left: 50px;
	margin-top: 35px;
}  
.poptxt2{
	
	font-size: 15px;
	text-align: center;
}
 
 
 
#pagingArea {
   width: 100%;
   height: 30px;
   margin-top: 20px;
   text-align: center;
}

#pagingArea > [type="button"] {
   display: inline-block;
   width: 30px;
   height: 30px;
   border: 1px solid #134074;
   border-radius:2px;
   font-size: 14pt;
   font-weight: bold;
   background-color: #FFFFFF;
   margin-left: 10px;
   color: #134074;
}

#pagingArea > [type="button"]:hover {
   cursor: pointer;
   background-color: #134074;
    color: #FFFFFF;
} 

#pagingArea > .paging_on {
   background-color: #134074;
   color: #FFFFFF;
}

#pagingArea > .paging_off {
   background-color: #FFFFFF;
   color: #134074;
}
.not{
	 font-size: 12pt; 
	 text-align: center;
     background-color: #FFF;
}
 
 
 /* 재직증명서  */
.content_down {
    margin-top: 40px;
    padding-top: 30px;
	margin-left: 40px;
	background-color: white;
	width: 1410px;
	height: 1050px;
	border: 1px solid #134074;
	border-radius: 3px;
	/* line-height: 100px; */
}
.main_name {
	font-size: 22pt;
	text-align: center;
	font-weight: bold;
}
.content_down_table{
	margin-top: 40px;
	margin-left: 80px;
}
.gray_content {
	
	width: 300px;
	height: 40px;
	font-size: 14pt;
	background-color: #8DA9C4;
}
.white_content {
	
	width: 300px;
	height: 40px;
	font-size: 14pt;
	background-color: white;
}
.gray_content2 {
	
	width: 300px;
	height: 110px;
	font-size: 14pt;
	background-color: #8DA9C4;
}
.day {
	width: 850px;
	height: 80px;
	font-size: 14pt;
}

.상기인 {
	margin-top: 40px;
	margin-left: 80px;
	font-size: 30pt;
}

.상기인2 {
	font-size: 14pt;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	width: 1225px; 
}
.용도 {
	font-size: 14pt;
	margin-top: 40px;
	margin-left: 100px;
	font-weight: bolder;
}

.용도text {
	width: 1150px;
	height: 40px;
	font-size: 14pt;
}